# Data and outputs
data/*

# Allow Git to see the 'inputs' folder itself
!data/inputs/

# Ignore everything inside 'inputs' by default
data/inputs/*

# But unignore the specific subfolder you want
!data/inputs/attr_config/
!data/inputs/attr_config/**

# Virtual environments
venv/
.venv/

# Build artifacts
build/
*.egg-info/
*.pyc
__pycache__/
.pytest_cache/

# Editor configs
.vscode/

# Documentation
docs/build/*
docs/source/API/*
!docs/source/API/index.rst
